@model IEnumerable<DataObjects.SkaterVM>

@{
    ViewBag.Title = "Index";
}

<h2>Skaters</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GivenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        @if (User.IsInRole("Skater") ||  User.IsInRole("Team_Admin") || (User.IsInRole("League_Admin")))
        {
        <th></th>
        }


    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GivenName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        @if (User.IsInRole("Skater") || User.IsInRole("Team_Admin") || (User.IsInRole("League_Admin")))
        {
            <td>
                }
                @if (User.IsInRole("Skater") || User.IsInRole("Team_Admin") || (User.IsInRole("League_Admin"))) {
                    @Html.ActionLink("Details", "Details", new { id = item.SkaterID })
                }
                @if (User.IsInRole("Team_Admin") || (User.IsInRole("League_Admin")))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.SkaterID })
                }
                
            </td>
        }
    </tr>

        }

</table>
